<template>
    <div>
        <div class="container-scroller">
            <!-- partial:../../partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo mr-5" href="#"><img src="/images/logo2.png" class="mr-2" alt="Smartguard"/></a>
                    <a class="navbar-brand brand-logo-mini" href="#"><img src="/images/logo2.png" alt="Smartguard"/></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="ti-layout-grid2"></span>
                    </button>
                    <ul class="navbar-nav mr-lg-2">
                        <!--<li class="nav-item nav-search d-none d-lg-block">-->
                        <!--<div class="input-group">-->
                        <!--<div class="input-group-prepend hover-cursor" id="navbar-search-icon">-->
                        <!--<span class="input-group-text" id="search">-->
                        <!--<i class="ti-search"></i>-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--<input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">-->
                        <!--</div>-->
                        <!--</li>-->
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">


                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <img src="/images/index.png" alt="profile"/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                <router-link :to="{name:'profile'}" class="dropdown-item">
                                    <i class="ti-user text-primary"></i>
                                    Profile
                                </router-link>
                                <a class="dropdown-item" v-on:click="logout()">
                                    <i class="ti-power-off text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item nav-settings d-none d-lg-flex">
                            <a class="nav-link" href="#">
                                <i class="ti-more"></i>
                            </a>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="ti-layout-grid2"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">

                <nav class="sidebar sidebar-offcanvas border bg-white" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <router-link :to="{name:'home'}" class="nav-link" href="#">
                                <i class="ti-home menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{name:'category'}" class="nav-link" href="#">
                                <i class="ti-server menu-icon"></i>
                                <span class="menu-title">Category</span>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{name:'teachers'}" class="nav-link" href="#">
                                <i class="ti-text menu-icon"></i>
                                <span class="menu-title">Teachers</span>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{name:'mpesa'}" class="nav-link" href="#">
                                <i class="ti-mobile menu-icon"></i>
                                <span class="menu-title">Transactions</span>
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{name:'taxes'}" class="nav-link" href="#">
                                <i class="ti-tablet menu-icon"></i>
                                <span class="menu-title">Taxes</span>
                            </router-link>
                        </li>
                        <li   class="nav-item">
                            <a v-on:click="logout()" class="nav-link" href="#">
                                <i class="ti-arrow-right menu-icon"></i>
                                <span class="menu-title">Logout</span>
                            </a>
                        </li>


                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">

                        <router-view></router-view>

                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a href="#" target="_blank">Eduborad</a>. All rights reserved.</span>
                            <!--<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>-->
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>



    </div>
</template>
<script>
    export default {
        components: {
        },
        data() {
            return {
                proxyUrl: process.env.MIX_APP_URL,
                name:'',
                user_type:'',
                role:'',
                auth:'',
                category:[],
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.role=localStorage.getItem('role');
            this.user_type=localStorage.getItem('user_type');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.role=localStorage.getItem('role');
                this.user_type=localStorage.getItem('user_type');
            }
        },
        methods: {
            logout() {
                clearSession();
                this.$router.push({name: 'login'});
            },
        }
    }
</script>
