<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Taxes</h4>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0">
                                <a data-toggle="modal" data-target="#add_tax" class="btn btn-warning rounded-0 text-white">Add Tax</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table  class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tax name</th>
                                    <th>Percentage</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data,index) in taxes">
                                    <td>{{index+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{formatPrice(data.percent)}} %</td>
                                    <td><a v-on:click="showModal(data.id,data.name,data.percent)" class="fa fa-edit text-primary"></a> </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm-12">
                                <jw-pagination :items="taxes" @changePage="onChangePage"></jw-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="add_tax" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Add taxes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form v-on:submit.prevent="submit()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Name</label>
                            <input type="text" v-model="message.name" class="form-control" id="exampleInputUsername1" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Percentage</label>
                            <input type="text" v-model="message.percent" class="form-control" id="exampleInputUsername1" placeholder="e.g 3.4" required>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button  type="submit" class="btn btn-warning submitbtn">Submit</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="edit_tax" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Edit taxes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form v-on:submit.prevent="update()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Name</label>
                                <input type="text" v-model="message.name" class="form-control" id="exampleInputUsername1" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Percentage</label>
                                <input type="text" v-model="message.percent" class="form-control" id="exampleInputUsername1" placeholder="e.g 3.4" required>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button  type="submit" class="btn btn-warning submitbtn">Update</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                taxes:[],
                pageOfItems:[],
                message:{id:'',name:'',percent:''},
            }
        },
        created(){
            setTimeout(() => {
                this.getData();
            }, 1000);
        },
        methods: {
            showModal(id,name,percent){
                this.message.id=id;
                this.message.name=name;
                this.message.percent=percent;
                $("#edit_tax").modal("show");
            },
            getData() {
                $('.card').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`taxes`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.taxes=response.data.taxes;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            submit() {
                $('.modal-content').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`taxes`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message, type:'success', title: 'Success'});
                        this.getData();
                        this.message={};
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            update() {
                $('.modal-content').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`taxes/update`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message, type:'success', title: 'Success'});
                        this.getData();
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },

        },
    }

</script>
