<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Teachers</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table  class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Gender</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(data,index) in teachers">
                                            <td>{{index+1}}</td>
                                            <td>{{data.name}}</td>
                                            <td>{{data.email}}</td>
                                            <td>{{data.phone}}</td>
                                            <td>{{data.gender}}</td>
                                            <td v-if="data.status==='unapproved'"><label class="badge badge-warning">{{data.status}}</label></td>
                                            <td v-if="data.status==='Inactive'"><label class="badge badge-danger">{{data.status}}</label></td>
                                            <td v-if="data.status==='Active'"><label class="badge badge-success">{{data.status}}</label></td>
                                            <td>{{data.created_at}}</td>
                                            <td  v-if="data.status==='unapproved'">
                                                <a data-toggle="modal" @click="changeData(data.id,data.name)" data-target="#exampleModal-4"  class="fa fa-check text-success">Approve</a>
                                            </td>
                                            <td  v-if="data.status==='unapproved'">
                                                <a class="fa fa-close text-warning">Reject</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>





        <div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Approve teacher</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <p>Are you sure you want to approve  <span class="text-danger text-success">{{message.name}}</span> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button @click="approve('Active')" type="button" class="btn btn-success submitbtn">Approve</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{name:'',id:'',status:''},
                teachers:[],
            }
        },
        created(){
            this.getData();
        },
        methods: {
            changeData(id,name){
                this.message.id=id;
                this.message.name=name;
            },
            approve(status){
                loadbutton();
                this.message.status=status;
                let uri =this.proxyUrl+`approve`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.getData();
                        $("#exampleModal-4").modal("hide");
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });
            },
            getData() {
                let uri =this.proxyUrl+`teachers`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.teachers=response.data.teachers;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },

        },
    }

</script>
