<template>
<div>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">

                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo row justify-content-center">
                                    <img src="/images/logo2.png" alt="logo">
                                </div>
                                <h4 class="text-center">Hello! let's get started</h4>
                                <h6 class="font-weight-light text-center">Sign in to continue.</h6>
                                <form class="pt-3" v-on:submit.prevent="login()">
                                    <div class="form-group">
                                        <input type="email" v-model="message.email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" v-model="message.password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
                                    </div>
                                    <div class="mt-3">
                                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn submitbtn" type="submit">SIGN IN</button>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <div class="form-check">
                                            <label class="form-check-label text-muted">
                                                <input type="checkbox" class="form-check-input">
                                                Keep me signed in
                                            </label>
                                        </div>
                                        <a href="#" class="auth-link text-black">Forgot password?</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        methods: {
            login() {
                loadbutton();
                let uri =this.proxyUrl+`login`;
                this.axios.post(uri, this.message).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        if(response.data.user.user_type==='admin'){
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('user_type', response.data.user.user_type);
                            localStorage.setItem('auth', 'yes');
                            this.$notify({group: 'foo', text:'Success signup' , type:'success', title: 'success'});
                            this.$router.push({name: 'home'});
                        }else{
                            this.$notify({group: 'foo', text:'Unauthorised access' , type:'error', title: 'Access denied'});
                        }
                        // this.$router.go(this.$router.currentRoute)
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                        localStorage.removeItem('token')
                    }
                }).catch(error => {
                    stopbutton();
                    this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    localStorage.removeItem('token')
                });

            },

        },



    }

</script>
