<template>

    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add category</h4>
                        <div class="row justify-content-center">
                            <div class="col-sm-6">

                                <form class="forms-sample" v-on:submit.prevent="submit()">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Name</label>
                                        <input type="text" v-model="message.name" class="form-control" id="exampleInputUsername1" placeholder="e.g Primary">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Description</label>
                                       <textarea class="form-control" v-model="message.description" rows="5" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2 submitbtn">Submit</button>
                                    <router-link :to="{name:'category'}" class="btn btn-light">Cancel</router-link>
                                </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
            }
        },
        methods: {
            submit() {
                loadbutton();
                let uri =this.proxyUrl+`category`;
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.$router.push({name: 'category'});
                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },

        },



    }

</script>
