<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="mb-3 mb-xl-0 float-right">
                <router-link :to="{name:'add_category'}" class="btn btn-warning rounded-0 text-white">New Category</router-link>
                </div>
                <h4 class="card-title">Category</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table  class="table table-hover sortable-table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Number of Classes</th>
                                    <th>Number of Subjects</th>
                                    <th>Edit</th>
                                    <th>Classes</th>
                                    <th>Subjects</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(data,index) in category">
                                    <td>{{index+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.darasa_count}}</td>
                                    <td>{{data.subject_count}}</td>
                                    <!--<td>{{data.description}}</td>-->
                                    <td>
                                       <router-link :to="{name:'editcategory', params: { id: data.id }}" class="fa fa-edit text-primary"></router-link>
                                    </td>
                                    <td>
                                        <router-link :to="{name: 'classes', params: { id: data.id }}"  class="fa fa-eye text-info"></router-link>
                                    </td>
                                    <td>
                                        <router-link :to="{name: 'subjects', params: { id: data.id }}"  class="fa fa-eye text-success"></router-link>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                category:[],
            }
        },
        created(){
           this.getData();
        },
        methods: {
            getData() {
                let uri =this.proxyUrl+`category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.category=response.data.category;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },

        },
    }

</script>
