<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Mpesa transactions</h4>
                        <div class="d-flex float-right">
                            <div class="mb-3 mb-xl-0">
                                <a v-on:click="adduser()" class="btn btn-warning rounded-0 text-white">Confirm payment</a>
                            </div>
                        </div>
                                <div class="table-responsive">
                                    <table  class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mpesa Ref</th>
                                            <th>System Ref</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Order</th>
                                            <th>Phone</th>
                                            <th>Payment Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(data,index) in trans">
                                            <td>{{index+1}}</td>
                                            <td>{{data.mpesa_ref}}</td>
                                            <td>{{data.system_ref}}</td>
                                            <td>{{formatPrice(data.amount)}}</td>
                                            <td>{{data.status}}</td>
                                            <td>{{data.order_no}}</td>
                                            <td>{{data.phone}}</td>
                                            <td>{{data.updated_at}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-12">
                                        <jw-pagination :items="trans" @changePage="onChangePage"></jw-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                trans:[],
                pageOfItems:[],
            }
        },
        created(){

            setTimeout(() => {
                this.getData();
            }, 1000);
        },
        methods: {
            getData() {
                $('.card').loader('show','<i class="fa  fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`transactions/mpesa`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.trans=response.data.trans;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            onChangePage(pageOfItems) {
                // update page of items
                this.pageOfItems = pageOfItems;
            },

        },
    }

</script>
