<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subjects for {{category.name}}</h4>
<div class="row justify-content-center">
    <div class="col-sm-6">
        <form class="forms-sample" v-on:submit.prevent="submit()">
            <div class="form-group">
                <label for="exampleInputUsername1">Name</label>
                <input type="text" v-model="message.name" class="form-control" id="exampleInputUsername1" placeholder="e.g Maths">
            </div>
            <button type="submit" class="btn btn-primary mr-2 submitbtn">Submit</button>
            <router-link :to="{name:'category'}" class="btn btn-light">Cancel</router-link>
        </form>

    </div>
    <div class="col-sm-6">
        <div class="table-responsive">
            <table  class="table table-hover sortable-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(data,index) in subjects">
                    <td>{{index+1}}</td>
                    <td>{{data.name}}</td>
                    <!--<td>-->
                        <!--<router-link :to="{name: 'subjects', params: { id: data.id }}"  class="fa fa-eye text-success"></router-link>-->
                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
        </div>
    </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                category:{},
                subjects:[]
            }
        },
        created(){
            this.getData();
        },
        methods: {
            submit() {
                loadbutton();
                let uri =this.proxyUrl+`subject/${this.$route.params.id}`;
                this.axios.post(uri, this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    stopbutton();
                    if(response.data.status){
                        this.$notify({group: 'foo', text:response.data.message , type:'success', title: 'success'});
                        this.message={};
                        this.getData();

                    }else{
                        this.$notify({group: 'foo', text:response.data.message , type:'error', title: 'error'});
                    }
                }).catch(error => {
                    stopbutton();
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },
            getData() {
                let uri =this.proxyUrl+`subject/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.category=response.data.category;
                    this.subjects=response.data.subjects;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$notify({group: 'foo', text:'We are not able to complete your request', type:'error', title: 'Error'});
                    }
                });

            },

        },



    }

</script>
